&
  width: layout.width
  margin: s(24px) auto

.title
  font-size: s(64px)
  font-weight: bold

.sub-title
  font-size: s(32px)
  font-weight: bold

.social-buttons
  margin: s(16px) 0

.text
  margin: s(16px) 0
  text-indent: .5em
  //
