//
// Import nib
//

@require nib

//
// Import Mixins
//

@require "mixin/*"

//
// Global Reset
//

global-reset()

//
// Wrapper Style
//

.{meta.slug}
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: font.gothic
  font-size: s(16px)
  color: #000
  line-height: 1
  &, *
    box-sizing: border-box

