doctype
html
  head
    block meta
      meta(charset="utf-8")
      // IE Setting
      meta(http-equiv="X-UA-Compatible", content="IE=Edge")
      // favicon
      link(rel="shortcut icon", type="image/vnd.microsoft.icon", href="/favicon.ico")
      link(rel="icon", type="image/vnd.microsoft.icon", href="/favicon.ico")
      if !isPc
        // viewport
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
    block stylesheet
    block script-head

  body
    block content
    block script-body
